.div-geral{
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.div-backs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputs{
    margin-bottom: 15px;
}

#div-botao{
    margin-left: auto;
    margin-right: auto;
}